.sub_content_wrap > h3{
    color: #21469c;
    text-align: center;
    border-bottom: dotted 2px rgba(0,0,0,.2);
    padding: 0 0 20px 0;
    font-size: 30px;
    margin-bottom: 20px;
}
.sub_content_wrap > p{
      text-align: center;
      padding: 10px 0;
}


ol.numeral{
    margin:50px 0 0 0;
    background-color: rgba(0,0,0,.1);
    padding: 30px 0 30px 150px;
    font:normal 20px "Pretendard-Regular";
    border-radius: 0 20px 0 20px;
}

.sub_content_wrap > ol li{
    list-style: decimal;
    padding: 5px 0;
}

table.basic{
    width: 100%;
    margin: 50px 0;
    border:solid 1px #2a76c2;
    border-width:2px 0;
    border-collapse: collapse;
    background-color: rgba(83, 163, 255, 0.1);
    font-family:"Pretendard-Regular";
}
table.basic th,td{
    border:solid 1px #2a76c2;
    border-width:1px 0;
    padding: 15px;
    font-size: 14px;
    text-align: center;
}
table.basic th{
    font-size: 16px;
}
table.basic th b,td b{
    display: block;
    font-size: 16px;

}
table.basic td b{
    color: #e74029;
}
table.basic th{ 

}
table.basic th:first-child{
    width: 100px;
}