/* CSS reset */
*{ margin: 0; padding: 0; box-sizing: border-box; }
a{ text-decoration: none; }
li{ list-style: none; }

/* 레이아웃 공통영역(.id) */
#wrap{
    max-width: 1240px;
    margin: 0 auto;
}

/* footer (레이아웃 공통영역) */
#footer{
    padding: 50px 2%;
}