/*  CSS reset */
*{ 
    margin: 0; padding: 0; box-sizing: border-box;
 }
a{ text-decoration: none;  color: rgba(0,0,0,.8); }
li{ list-style: none; }

html, body{ 
    width: 100%;
    /* overflow-x: hidden; */
}

/* 해더 */
#header{
    display: flex;
    width: 1280px;
    margin: 0 auto;
    justify-content: space-between; /* 가로정렬 */
    align-items: center; /* 세로정렬 */
}
.top_menu{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    font-size: 12px;

}
.top_menu li{ margin-left: 10px; }
.gnb{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    font:bold 18px "맑은고딕";

}
.gnb li{ margin-left: 50px; }

/* 메인 배너 */
#main_banner{ 
    display: flex;
    justify-content: center;
    min-width: 1280px;
}

#main_banner img{
    width: 100%;
}   
/* 본문 */
#main{ 
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 20px auto 60px;
}
#lnb{ width: 230px;}
#lnb h2{ 
    background-color:rgba(0,0,0,.5);
    color: #fff;
    padding: 10px;
    font-size: 18px;
}
#lnb ul li{
    border-bottom: solid 1px rgba(0,0,0,.1);
}
#lnb ul li a{ 
    display: block;
    padding: 10px;
    font-weight: bold;
}
#contents{
    width: 1000px;
}
h3.page_title{ 
    padding: 10px 0 20px 0;
    border-bottom: solid 1px rgba(0,0,0,.1);
    margin-bottom: 20px;
    font-size: 20px;
}
.align_center{ text-align: center;}

/* 푸터 */
#footer{ background-color: #2c2a29; }
.footer_center{
    display: flex;
    width: 1280px;
    margin: 0 auto;
    padding: 20px 20px 20px 0;
    justify-content: space-between; /* 가로정렬 */
    align-items: center; /* 세로정렬 */
    font:normal 14px "맑은고딕";
    color: rgba(255,255,255,.7);
    background-color: #2c2a29;
}