#popup{
    background-color: antiquewhite;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 10px;
    /* left: 50px; */
    z-index: 1;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: red;
    position: sticky;
    top:10px;
    width: 500px;
    margin: 0 auto;
    align-items: center;
    /* z-index: 0; */
}
#header > ul{
    display: flex;
    justify-content: space-between;
}