/* CSS 초기화 */
*{ margin: 0; padding: 0; box-sizing: border-box; }
a{ text-decoration: none; color: rgba(0,0,0,.95);} 
li{ list-style: none; }

/* 해더 */
#header{ 
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header_logo{
    font-size: 20px;
}
.header_logo span{ 
    color: #190abf;
}
.header_nav > ul{
    display: flex;
    justify-content: flex-end;
}
.header_nav > .top_menu a{
    display: block;
    padding: 3px;
    font-size: 14px; 
}
.header_nav > .gnb a{
    display: block;
    padding:10px 30px 10px 30px;
    font:bold 16px "맑은고딕";
}
.header_nav > .gnb a:last-child{padding-right: 0;}
/* 메인배너 */
#main_banner{
    min-width: 1100px;
    display: flex;
    justify-content: center;
}
.main_banner_center{
    width: 1700px; 
     
}
#main_banner img{
    width: 100%;
}
/* 본문 콘텐츠  본문 내용 */
#main{ }


/* 본문 내용 > quick_banner */
#main .quick_banner{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
#main .quick_banner li a{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
#main .quick_banner li a img{
    margin-right:20px;
}   
#main .quick_banner li a b{
    display: block;
}
#main .photo_banner_bg{
    background-color: #eeeeee;
    padding: 30px 0;
}
#main .photo_banner{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main .photo_banner > li{
    width: 25%;
    padding: 0 20px;
}
#main .photo_banner > li:first-child{
    padding-left:0;
}

#main .photo_banner img{ 
    width: 100%;
}
/* 푸터 */
#footer{
    background-color: #292d32;
    font:normal 14px "malgungothic";
    color: #fff;
    min-width: 1100px;
}
#footer > .footer_center{ 
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
}
.footer_menu{
    display: flex;
    padding-bottom: 10px;
}
.footer_menu > li a{
    display: block;
    padding-right:10px;
    color:  #fff;
}
.footer_menu > li a:after{
    content: "|";
    padding-left:10px;
    opacity: .7;
    
}
.footer_menu > li:first a{
    padding-left: 0;
}
#footer address{
    display: flex;
    justify-content: space-between;
    font-style: normal;
    padding: 20px 0;
}
.call{
    font-size: 26px;
    font-weight: bold;
}
#footer address > ul > li:first-child{
    font-weight: bold;
}
.sns a{ 
    display: inline-block;
    padding: 0 5px;
}

