/* ================= 기본 설정 ================= */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ================= 본문 사이드바 (width: 240px) ================= */
#sidebar {
    width: 240px;
    margin: 20px;
} /* 사이드바 기본 설정 */

/* ================= 본문 ================= */
#main {
    display: flex;
    width: 1280px;
    margin: 0 auto;
} /* 범위 설정 */

/* ================= 본문 컨텐츠 ================= */
#contents {
    width: 1040px;
    margin: 20px auto;
} /* 본문 범위 조절 및 정렬 */

.item_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} /* 아이템 목록: 4개 한 줄로 배치 */

.item {
    width: 220px;
    margin: 10px;
    padding-bottom: 15px;
} /* 아이템 크기 및 범위 조절 */

.image_box {
    height: 220px;
    overflow: hidden;
    border-radius: 10px;
} /* 아이템 이미지 div 범위 조절 */

.item_image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.2s linear;
    transform: scale(1);
} /* 아이템 이미지 크기 설정 및 호버 해제 시 애니메이션 적용 */

.item_image:hover {
    transition: all 0.2s linear;
    transform: scale(1.05);
} /* 아이템 이미지 호버 시 애니메이션 적용 */

.item_name {
    margin-top: 7px;
} /* 아이템 이름 간격 조절 */

.item_price {
    font-weight: bold;
    margin-top: 3px;
} /* 아이템 가격 볼드체 및 간격 조절 */

.item_location {
    font-size: 12px;
    color: grey;
    margin-top: 5px;
} /* 아이템 위치 및 올린 시간 글자색 및 폰트 크기, 간격 조절 */

.more_button {
    width: 1000px;
    background-color: #f3f4f5;
    border: none;
    border-radius: 7px;
    margin: 20px 0;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
} /* 더보기 버튼 크기 설정 및 디자인 */

.more_button:hover {
    background-color: #e3e4e5;
} /* 더보기 버튼 호버 시 색상 변경 */